<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework"
      type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
      requirePermission="false"/>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6"/>
    <httpRuntime targetFramework="4.6"/>
    <authentication mode="Forms">
      <forms loginUrl="Login/UserLogin.aspx" protection="All" timeout="3000" name=".ASPXAUTH" path="/" requireSSL="false" slidingExpiration="true"
        defaultUrl="/index.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
    </authentication>
    <authorization>
      <allow users="*"/>
    </authorization>
    <customErrors mode="Off"/>
    <trust level="Full" originUrl="index.aspx"/>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="50000000"/>
        <!-- Allow files of upto 50,000,000 bytes (about 50Mb) to be uploaded -->
      </requestFiltering>
    </security>
    <modules>
    </modules>
  </system.webServer>
  <connectionStrings>
    <add name="Excel03ConString" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <add name="Excel07ConString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0};Extended Properties='Excel 8.0;HDR={1}'"/>
    <!--<add name="rainbowjanakpuriEntities" connectionString="metadata=res://*/RainbowERPModel.csdl|res://*/RainbowERPModel.ssdl|res://*/RainbowERPModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.50.133.109;initial catalog=rainbowjanakpuri;persist security info=True;user id=rainbowschooljp;password=Ovho#210;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <add name="rainbowjanakpuriEntities"
      connectionString="metadata=res://*/Model.csdl|res://*/Model.ssdl|res://*/Model.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=182.50.133.109;initial catalog=rainbowjanakpuri;persist security info=True;user id=rainbowschooljp;password=Ovho#210;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
</configuration>